.bold{
    font-weight: bold;
}
.content-box{
    max-width: 1280px;
    margin: 0 auto;
}
table{
    margin: 0 auto;
    background-color: #eceaea;
}
center{
    text-align: center;
}
.logo{
    height: 130px;
    margin: 0 auto;
}
.header-box{
    background: rgb(216, 168, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 10px 0;
    border: 1px solid #000;
}

.nav-header ul> li{
    list-style: none;
    margin: 0 3px;
}
.nav-header{
    margin-top: 20px;
}
.nav-header>ul{
    display: flex;
    justify-content: center
}
.nav-header a{
    padding: 12px 10px;
    border: 1px solid #000;
    text-decoration: none;
}
.linck-activ{
    background: rgb(10, 10, 75);
    color: #fff;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(82, 79, 79);
    text-align: center;
    padding: 5px;
}

.list-circle{
    list-style: circle;
}

ul img {
    margin-right: 5px;
}

.gold{
    background-color: gold;
}
.silver{
    background-color: silver;
}
.bronz{
    background-color: rgb(201, 120, 14)
}
.gold-l{
    background-color: rgb(255, 239, 148);
}
.silver-l{
    background-color: rgb(195, 218, 231);
}
.bronz-l{
    background-color: rgb(235, 177, 102)
}
.text-start{
    text-align: start;
}